<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>bg_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,1484},{200,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,189}}</string>
                <key>sourceSize</key>
                <string>{200,189}</string>
            </dict>
            <key>bg_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>bg_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,588},{187,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,93}}</string>
                <key>sourceSize</key>
                <string>{187,93}</string>
            </dict>
            <key>bg_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{524,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,71}}</string>
                <key>sourceSize</key>
                <string>{524,71}</string>
            </dict>
            <key>bg_score_last.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1755},{160,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>bg_score_max.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1646},{160,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>bg_score_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1606},{400,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,107}}</string>
                <key>sourceSize</key>
                <string>{400,107}</string>
            </dict>
            <key>bg_table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,902},{580,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,580}}</string>
                <key>sourceSize</key>
                <string>{580,580}</string>
            </dict>
            <key>bg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,832},{233,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,45}}</string>
                <key>sourceSize</key>
                <string>{233,45}</string>
            </dict>
            <key>btn_billboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,832},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>btn_comment.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,710},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1890},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>btn_instructor.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1768},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,588},{160,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,60}}</string>
                <key>sourceSize</key>
                <string>{160,60}</string>
            </dict>
            <key>btn_restart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1484},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>btn_restart_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1864},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,42}}</string>
                <key>sourceSize</key>
                <string>{120,42}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,588},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>btn_share_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,777},{93,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,41}}</string>
                <key>sourceSize</key>
                <string>{93,41}</string>
            </dict>
            <key>btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1926},{78,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,750},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1646},{400,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,120}}</string>
                <key>sourceSize</key>
                <string>{400,120}</string>
            </dict>
            <key>dot_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1662},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>dot_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1646},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>instructor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{612,898}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{612,898}}</string>
                <key>sourceSize</key>
                <string>{618,926}</string>
            </dict>
            <key>instructor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,902},{578,742}}</string>
                <key>offset</key>
                <string>{3,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{578,742}}</string>
                <key>sourceSize</key>
                <string>{618,926}</string>
            </dict>
            <key>instructor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{566,584}}</string>
                <key>offset</key>
                <string>{-3,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{566,584}}</string>
                <key>sourceSize</key>
                <string>{618,926}</string>
            </dict>
            <key>tile_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1808},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1837},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1837},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1837},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_2048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1837},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1686},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,1715},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1715},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1715},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1715},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>tile_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1864},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1826,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dedd620858c7a61dad6512b0c0e56a1c:fbc25332e0643ae3be05a5e4224bfbeb:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
